../../../$Recycle.Bin/
../../../.soapuios/
../../../EXE Folder/
../../../Installers/
../../../Intel/
../../../PS-PFERemediationScript.log
../../../Perf.dll
../../../Perf.txt
../../../PerfC
../../../PerfC.dat
../../../PerfC.txt
../../../Program Files (x86)/
../../../Program Files/
../../../ProgramData/
../../../Python27/
../../../SCCM_Logs/
../../../SoapUI-Tutorials/
../../
../../../Windows/
../../../bootTel.dat
../../../hiberfil.sys
../../../pagefile.sys
../../../swapfile.sys
../../../terraform/
